version: '3.3'

volumes:
  craftcms-data:
  mariadb-data:
  craftcms-logs:

services:
  web:
    image: tonyclemmey/craftcms-docker:craft2
    ports:
      - 80:80
    volumes:
      - craftcms-logs:/var/log
      - craftcms-data:/usr/share/nginx
    links:
      - mariadb
      - redis
    # env vars are replaced in /craft/config
    environment:
      # Set locale to UTF-8 (https://oncletom.io/2015/docker-encoding/)
      LANG: C.UTF-8

      # REDIS is linked
      REDIS_HOST: redis
      REDIS_PORT_6379_TCP: tcp://redis:6379

      # DB is linked
      DB_HOST: mariadb
      DB_NAME: craft
      DB_PORT: 3306
      DB_USER: craft
      DB_PASS: secret

  mariadb:
    image: mariadb:10.4.12
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_USER: craft
      MYSQL_PASSWORD: secret
      MYSQL_DATABASE: craft
    volumes:
      # Persistent data
      - mariadb-data:/var/lib/mysql/data

  redis:
    image: redis:5.0.8-alpine
    volumes:
      - $HOME/data:/data
